body{
    margin:0;
    padding:0;
    text-align: center;

}


/* .loginheading{
    color: whitesmoke;
    font-family: "Broadway";
    
}

.loginPage{
    text-align: center;
    position:relative;
    background:linear-gradient(90deg,hsl(0, 4%, 5%),#75489f);
}

h2{
    font-family: "Broadway";
}
.login{
    top:10px; 
    padding:50px;
}
.label{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.container-login-two{
    border-radius: 0;
    height: 54rem;
}

.container-login-one{
    border-radius: 0;
    height: 54rem;
    background-color: teal;
}

.row-choose-user{
    display: flex;
    align-items: center;
}

.heading{
    display: flex;
}

.text{
    color:#c3073F;
}
.password-eye{
    margin-top: -38px;
    background-color: transparent;
    height: 40px;
    color:white;
}

body {
    text-align: center;
    background:linear-gradient(90deg,#111112,#75489f);
}
form {
    display: inline-block;
}
.text{
    color: rgb(245, 17, 17); */
/* } */

:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    font-size: large;
    
  }

  .username{
      color:white;
      font-size: medium;
  }

  .password{
      color:white;
      font-size: medium;
  }

  .icon{

      color:black;
  }
  mat-card-title{
      color:white;
      font-family: Gill Sans Extrabold, sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-family: "Georgia, Arial and Helvetica";
  }
  
  
    mat-icon{
        color: #e91e63 !important;
    }
    .menu-spacer {
        flex: 1 1 auto;
      }
  
.validText{
    color: red;
    font-size: 15px;
    text-align: center;
}

.home{
    float: right;
}

.red-text{
    color: black;
    font-size: 20px;
    padding: 10px;
}


  