<mat-card *ngIf="resetPassword">
    <mat-card-title class="red-text">Reset password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form"  class="loginBackground">
                <p>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder=" Enter Old password" [type]="hide ? 'password' : 'text'"formControlName="oldpassword" color='accent' >
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="hasError('oldpassword', 'required')">Please enter the old password</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width-input">
                        <input class="password" matInput [type]="show ? 'password' : 'text'" placeholder=" Enter New password" formControlName="newpassword">
                        <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="hasError('newpassword', 'required')">Please inform us your password</mat-error>
                        <mat-error *ngIf="hasError('newpassword', 'maxlength')">password should contain maximum 12 characters</mat-error>
                        <mat-error *ngIf="hasError('newpassword', 'minlength')">password should contain minimum 8 characters</mat-error>
                    </mat-form-field>
                </p>
            </form>
        </mat-card-content>
        <p *ngIf="valid" class="validText">Invalid Old password</p>
        <div class="button">
            <button type="submit" color="primary" class="button"mat-button (click)='changePassword()'>Change</button>
        </div>
</mat-card>

<mat-card *ngIf="passwordUpdated">
    <p class="red-text">password updated Sucessfully</p>
     <p class="red-text">Please login next time with your new password</p>
<br/>
<br/>
<br/>
    <button class="home" mat-button color='accent' (click)='gotoHome()'>Go To Home</button>
</mat-card>
