
<mat-card *ngIf='valid'>
    <mat-card-title class="fpt">Forgot password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="emailform"  class="loginBackground" (ngSubmit)="checkuserId()">
                <p>
                    <mat-form-field class="icon">
                        <mat-icon matPrefix class="icon">person_outline</mat-icon>
                        <input type="text" matInput placeholder="please enter your emailId" formControlName="username" color='accent' >
                        <mat-error *ngIf="hasError('username', 'required')">Please inform us your Email</mat-error>
                    </mat-form-field>
                </p>
            </form>
        </mat-card-content>
        <p *ngIf= 'invalidUserId' class="validText">INVALID userId</p>
            <div class="button">
                <button type="submit" color="primary" class="button"mat-button>check</button>
              </div>

</mat-card>
<mat-card *ngIf='!valid'>
    <mat-card-title class="ftp">Forgot password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="forgotPasswordform"  class="loginBackground">
                <p>
                    <mat-form-field class="full-width-input">
                        <input type="text" matInput placeholder=" Enter username " formControlName="username" color='accent' >
                        <mat-error *ngIf="hasError('username', 'required')">Please inform us your Email</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width-input">
                        <input type="password" class="password" matInput placeholder=" Enter New password" formControlName="newpassword">
                        <mat-error *ngIf="hasError('newpassword', 'required')">Please inform us your password</mat-error>
                        <mat-error *ngIf="hasError('newpassword', 'maxlength')">password should contain maximum 12 characters</mat-error>
                        <mat-error *ngIf="hasError('newpassword', 'minlength')">password should contain minimum 8 characters</mat-error>
                    </mat-form-field>
                </p>
            </form>
        </mat-card-content>
        <div class="button">
            <button type="submit" color="primary" class="button"mat-button (click)='changePassword()'>Change</button>
        </div>
</mat-card>

